<a href="https://colab.research.google.com/github/rnjsdbwls16/class2021Spring/blob/main/string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
s = 'sicheng'
print(s[0], s[5], s[-1], s[-6])
print(s[1:3], s[1:], s[:3], s[:])

s n g i
ic icheng sic sicheng

string ' ', " " 으로 지정

-1번째: 오른쪽 끝 (평소 순서의 반대 방향으로 셈)

[1:3] 1번째에서 3번째 사이를 출력 (여기서 0이 첫번째라는 걸 기억.. 보기 쉽게 씀 헷갈리지 말자)

[1:] 1번째에서 끝까지
[:3] 3번째 전까지지

In [ ]:
n = [100, 200, 300]
print(n[0], n[2], n[-1], n[-3])
print(n[1:2], n[1:], n[:2], n[:])

100 300 300 100
[200] [200, 300] [100, 200] [100, 200, 300]

n[-3]은 n[0]과 같은 100이겠죠

In [3]:
len(s)

7

길이를 의미. 리스트형과 문자형-개수 둘 다 적용됨

In [2]:
s[1]+s[3]+s[4:]*10

'ihengengengengengengengengengeng'

곱하기 * 부터 해줘야

In [4]:
s.upper()

'SICHENG'

대문자로 만들기 (uppercase)

In [9]:
s = ' this is a house built this year. I like it.'
s

' this is a house built this year. I like it.'

In [ ]:
result = s.find('house') 	    # index of first instance of string t inside s (-1 if not found)
result

11

앞에서부터 11번째에 위치 (스페이스도 0으로 포함)

In [ ]:
result = s.find('this')	    # index of last instance of string t inside s (-1 if not found)
result

1

In [12]:
result = s.rindex('this')        # like s.find(t) except it raises ValueError if not found
result

22

rindex: 거꾸로했을 때때

In [11]:
s = s.strip()      	            # a copy of s without leading or trailing whitespace
s

'this is a house built this year. I like it.'

strip: 스페이스나 줄바꿈 등 쓸데없는 거(?) 없애 줌

In [10]:
tokens = s.split(' ')	        # split s into a list wherever a t is found (whitespace by default)
tokens

['', 'this', 'is', 'a', 'house', 'built', 'this', 'year.', 'I', 'like', 'it.']

split: 빈칸 부분을 찾아서 쪼개세요. 

+tokens 그리고 리스트를 만드세요

In [13]:
s = ' '.join(tokens)	        # combine the words of the text into a string using s as the glue
s

' this is a house built this year. I like it.'

In [14]:
s = s.replace('this', 'that')   # replace instances of t with u inside s
s

' that is a house built that year. I like it.'

참고) 문자열을 print 하면 따옴표 없이 출력됨

＼n 줄바꾸기기고) 문자열을 print 하면 따옴표 없이 출력됨

고) 문자열을 print 하면 따옴표 없이 출력됨

＼n 줄바꾸기