<a href="https://colab.research.google.com/github/rnjsdbwls16/class2021Spring/blob/main/syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
a = ['l', 'e', 'v', 'i']
for i in a:
  print (i)

l
e
v
i

제어문- for은 '반복' 이었지?

In [4]:
a = ['l', 'e', 'v', 'i']
for i in range(len(a)):
  print (a[i])

l
e
v
i

range 범위? [1,2,3,4]에서 range [3]이면 123

*이해 잘 안 됨

In [6]:
a = [ 'eren', 'mikasa', 'armin']
for i in a:
  print (i)

eren
mikasa
armin

In [7]:
a = ["erwin", "hans", "petra", "moblit"]
b = [0.2, 0.3, 0.1, 0.4]
for i, a_ in enumerate(a):
    print("{}: {}%".format(a_, b[i]*100))

erwin: 20.0%
hans: 30.0%
petra: 10.0%
moblit: 40.0%

In [ ]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for a_, b_ in zip(a, b):
    print("{}: {}%".format(a_, b_*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

In [ ]:
a = 0
if a == 0:
    print(a)
else:
    print(a+1)

0

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        print(i*j)

3
4
6
8

In [ ]:
for이 2번 이상 들어가있으면 indent된 안 쪽부터 봐라..

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        if j >=4:
            print(i*j)

4
8

In [ ]:
a = [1, 2, 3, 4]
b = [i for i in a if i >=2]
b

[2, 3, 4]

In [ ]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4]
b

['green', 'blue', 'purple']