<a href="https://colab.research.google.com/github/rnjsdbwls16/class2021Spring/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 1; print(type(a))

<class 'int'>

type=종류 

ex) 문자열이면 string이라 출력 <class 'str'>

In [ ]:
a = 1; a = float(a); print(type(a))

<class 'float'>

In [ ]:
a = 1.2; a = int(a); print(type(a))

<class 'int'>

In [1]:
a = '123'; print(type(a)); print(a[2])

<class 'str'>
3

a[0] = 순서의 첫번째 값 (첫번째는 0부터 시작)

In [2]:
a = '123'; a = list(a); print(type(a)); print(a); print(a[0])

<class 'list'>
['1', '2', '3']
1

list(a) = 리스트 자료형의 형태로 바꿔라.

하나하나 쪼개서 ['1', '2', '3']

In [3]:
a = [3,'winwin', [1, '2']]; print(type(a)); print(a[0]); print(a[1]); print(a[2])

<class 'list'>
3
winwin
[1, '2']

In [ ]:
a = (1,'2', [3, '4']); print(type(a)); print(a[0]); print(a[1]); print(a[2])

<class 'tuple'>
1
2
[3, '4']

tuple ()괄호로 바꾸면 에러 뜸

In [4]:
a =	{"nct": "nctzen", "127": "10", "dream": 7}
print(type(a))
print(a["127"])

<class 'dict'>
10

딕셔너리는 {}, " " -> ' '로 바꿔도 상관없는 듯? 딕셔너리에는 순서가 없는 듯ㅇㅇ a[0]하면 에러남

In [6]:
a=["u", "wayV"]
print(type(a))
a

<class 'list'>

['u', 'wayV']

추가로 만약 a = [1,2,3]

a[0]=-1 새로 assign 지정해라

print a 하면 [-1,2,3]

*지정은 순서대로로가로 만약 a = [1,2,3]

a[0]=-1 새로 assign 지정해라

print a 하면 [-1,2,3]

가로 만약 a = [1,2,3]

a[0]=-1 새로 assign 지정해라

print a 하면 [-1,2,3]

*지정은 순서대로

In [8]:
a=[1,2,7]
a[0]=3
a[0]=5
print (a)

[5, 2, 7]